*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

.logo{
    width:30%;
}

.container-fluidd{
    position: relative;
}


.header{
background-color: transparent !important;
position: fixed;
z-index: 9999;
width: 100%;
padding: 1.5rem 15rem;
border-bottom: 1px solid rgba(172, 170, 170, 0.529);
border-bottom-width: thin;

}


.header ul li a{
    color: white !important;
}


.bg1 {
    height: 100vh;
    background:linear-gradient(rgba(0, 0, 0, 0.392), rgba(0, 0, 0, 0.392)), url(./images/2\ \(1\).jpg);
    background-size: cover;
}
.bg2 {
    height: 100vh;
    background:linear-gradient( rgba(0, 0, 0, 0.488), rgba(0, 0, 0, 0.488)),  url(./images/banner12.jpg) ;
    
    background-size: cover;
   
}
.bg3 {
    height: 100vh;
    background:linear-gradient( rgba(0, 0, 0, 0.488),rgba(0, 0, 0, 0.488)), url(./images/3.jpg);;
    background-size: cover;

}

.content{
    margin-top: 15rem;
}

h3{
    font-size: 70px;
    font-family: Libre Caslon Display, serif;
    color: rgb(255, 255, 255);
    font-weight: 400;
    line-height: 70px;
}

h4{
    font-family:Libre Caslon Display, serif ;
    Font-size:35px;
    font-weight: 400;
    color: rgb(193, 157, 96);
}

.venue{
    line-height: 22.5px;
    font-weight: bold;
}

.btn1{
    font-family: Noah, sans-serif;
    Font-size:13px;
    font-weight: 400;
    color: rgb(255, 255, 255);
    padding: 0.7rem 2rem;
    background: transparent;
    border: 1px burlywood solid;
    transition: 0.9s;
}

.btn1:hover{
    background: burlywood;
    transition: 0.9s;
    color: white;
}

button{
    border: 3px solide burlywood;
    
}

.dropdown-menu{
    background-color: black;
}

.dropdown-item:hover{
    background: burlywood; 
}

.body1{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-top: 7rem;
    height: 85vh;
    background-color: rgb(255,255,255);

}


.content1{ 
    width: 50%;
    padding: 4rem;
}

.photo{
    width: 50%;
    gap: 2rem;
    height: 60vh !important;
}

.photo1{
 width: 40%;
 height: 70vh;
 margin-top: auto;
}
.photo2{
 width: 40%;
 height: 80vh;
 margin-bottom: auto;
}

h5{
   font-family: Libre Caslon Display serif;
   font-size: 48px;
   font-weight: 400;
   line-height:48px;
   color: rgb(27, 27, 27);
}
.cand{
    font-family: Noah, sans-serif;
    font-size: 17px;
    font-weight: 400;
    line-height: 26.25px;
    color: rgb(193, 157, 96);
}

.chelf{
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 4rem;
    justify-content: center;
    background-color: rgb(27,27,27);
    height: 100vh;
    margin-top: 3rem;
    /* padding: 2rem 13rem; */

}

.chelf1{
    width: 30%;
    padding: 0rem 0rem 0rem 5rem;
    margin-left: 5rem;
}

.years{
    width: 50%;
    /* padding: 0rem 7rem 0rem 3rem; */
}

.images{
    width: 100%;
   margin-left: 2rem;
}
.exc, .master {
    font-size:12px;
    font-family: Noah, sans-serif;
    font-weight: 500;
    color: rgb(193, 157, 96);
    line-height:26.25px;
}

.Big{
   font-family:Libre Caslon Display, serif;
   font-weight: 400;
   color:  rgb(255, 255, 255);
   Font-size:48px;
   line-height: 48px;
   color: rgb(255, 255, 255);
}
.lom{
    font-family:Noah, sans-serif;
    font-size: 15px;
    font-weight: 400px;
    color: rgb(119, 119, 119);
    line-height:26.25px;
    padding-right: 17rem;
}

.name{
    padding-left: 1rem;
}
.signature{
    width: 10%;
}

.recommend{

    background-color: white;
    height: 80vh;
}

.food1{
    background-image: url(./images/hamburger.jpg);
    background-size: cover;
    height: 60vh;
    overflow: hidden;

}
.food2{
    background-image: url(./images/salad.jpg);
    background-size: cover;
    height: 60vh;
    overflow: hidden;
}
.food3{
    background-image: url(./images/wine.jpg);
    background-size: cover;
    height: 60vh;
    overflow: hidden;
}

.food3:hover >.zoom{
    transition: 1s;
}

.zoom{
    padding-top: 99%;
    transition: 1s;
    line-height: 23px;
    transform: translateY(4rem);
    -webkit-transform: translate(1rem);
    -moz-transform: translate(1rem);
    -ms-transform: translate(1rem);
    -o-transform: translate(1rem);
    -webkit-transition: 1s;
    -moz-transition: 1s;
    -ms-transform: 1s;
    -o-transition: 1s;
}



.line{
    width: 30%;
    height: 0.2rem;
    background: white;
    margin: 10px auto;

}

